div.carousel-inner > div.item.bg-alpha.active.oe_img_bg {
  .discripation {
    color: #fff;
    font-size: 16px;
  }

  h3 {
    color: #fff;
  }

  h1 {
    text-transform: uppercase;
  }

  h4 {
    color: #fff;
  }

  a.btn-info {
    padding: 15px 40px
  }
}

.error__nav img {
  margin: 0 auto;
}

#brand_page {
  img {
    margin: 0 auto;
    display: block;
  }
}
