.service_banner {
  h2 {
    color: $primary;
  }
  .has-line {
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: $primary;
    left: calc(50% - 2px);
    transform: translateX(-50%);
  }
  .has-line {
    &:before {
      content: '';
      position: absolute;
      width: 10px;
      left: 45px;
      height: 2px;
      width: 10px;
      background-color: $primary;
      top: 0;
    }
    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      left: 60px;
      background-color: $primary;
      bottom: 0;
    }
  }
}
