/*
    Part of Odoo Module Developed by 73lines
    See LICENSE file for full copyright and licensing details.
*/

.fa_user_menu {
    font-size: 21px;
}

.fa_company_contact_info {
    font-size: 20px;
    padding: 0 5px 0 5px;
}

#mid-header-top {
    background-color: #ccc;
}

.language_flag:hover, .language_flag:focus,
.mid_header_shopping_cart:hover, .mid_header_shopping_cart:focus,
.my_acc:hover, .my_acc:focus,
.fa_company_contact_links:hover, .fa_company_contact_links:focus {
    text-decoration: none;
}

.my_acc {
    white-space: nowrap;
}

.language_dropdown {
    list-style-type: none;
}

.share_facebook, .share_facebook:hover {
    color: #3b5998;
}

.share_twitter, .share_twitter:hover {
    color: #326ada;
}

.share_linkedin, .share_linkedin:hover {
    color: #007bb5;
}

.share_youtube, .share_youtube:hover {
    color: #cc181e;
}

.share_googleplus, .share_googleplus:hover {
    color: #dd4b39;
}

.share_github, .share_github:hover {
    color: #000000;
}
#top_menu #my_wish,
#top_menu #my_cart {
    display:none;
}
