/*
    Part of Odoo Module Developed by 73lines
    See LICENSE file for full copyright and licensing details.
*/
.oe_product .ribbon-wrap {
  width: 85px;
  height: 88px;
  z-index: 100;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
