.state_section {
    padding-top: 90px;
    padding-bottom: 90px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.odometer{
  width: 100%;
  margin-top:15px;
  text-align: center;
}
.odometer {
    line-height: 48px;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 38px;
}
.state-col-inner {
    padding: 25px !important;
    margin: 10px;
}
