.progress_bars {
  width: 100%;
  overflow: hidden;
}
.progress_bars .progress_bar {
  position: relative;
  margin: 0 0 24px;
}
.progress_bars .progress_content_outer {
  height: 17px;
  background-color: #ecf0f1;
  width: 90%;
  position: relative;
}
@media (max-width: 768px) {
  .progress_bars .progress_content_outer {
    width: 85%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .progress_bars .progress_content_outer {
    width: 85%;
  }
}
.progress_bars .progress_content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}
.progress_bars .progress_title {
  display: inline-block;
  position: relative;
  z-index: 100;
}
.progress_bars .progress_title h4 {
  margin: 0;
  line-height: 55px;
  font-weight: 300;
  font-size: 20px;
  color: #2a2929;
  text-transform: none;
}
.progress_bars .progress_number {
  font-size: 20px;
  line-height: 16px;
  font-weight: 300;
  color: #2a2929;
  text-align: left;
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=0);
}

.progress-bar-section{
    padding-top:90px;
    padding-bottom:90px;
    background:#FFF;
}
.progress-bar-section h1{
    padding-bottom:25px;
    line-height: 48px;
    letter-spacing: 0px;
    font-weight: 300;
    color: #222;
}
.progress-bar-section h4{
    float: left;
    font-size: 20px;
    margin-top: 20px;
    line-height: 28px;
}